.button{
  font-family: $font-family--primary;
  padding: 12px 25px;
  border: 2px solid $blue;
  border-radius: 16px;
  color: $white;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  background-color: inherit;
  cursor: pointer;
  &-light{
    background-color: $blue;
  }
}