.comunity{
  color: $white;
  font-family: $font-family--primary;
  text-align: center;
  position: relative;
  &__container{
    border-radius: 16px;
    border: 2px solid $blue;
    padding: 48px 0;
    background: rgb(153,142,131);
    background: linear-gradient(90deg, rgba(153,142,131,0.19931722689075626) 0%, rgba(30,80,255,0.20772058823529416) 100%);
  }
  &__title{
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    margin: 0;
    margin-bottom: 24px;
    // &::before{
    //   z-index: 1;
    //   pointer-events: none;
    //   content: "";
    //   position: absolute;
    //   background-color: #998e83;
    //   // filter: blur(450px);
    //   width: 638px;
    //   height: 444px;
    //   filter: blur(450px);
    // }
  }
  &__desctiption{
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 40px;
  }
}