script(src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js")
script(src="../../js/slider.js")
script(src="../../js/burger.js")
script(src="../../js/hot-nfts-slider.js")
//- script(src="../../js/featured-artist-slider.js")

