// Colors
// --------------------------------------

$white: #FFFFFF;
$bali-hai: #8F9CA9;
$blue: #1E50FF;
$heather: #ADB9C7;
$ebony: #272D37;
$midnight-express: #0F182E;
$solitude: #E7ECF2;
$tahiti-gold: #E27625;
$safety-orange: #FF6D00;
$carrot-orange: #F5841F;
$background: #02050E;

// Fonts
// --------------------------------------

$font-family--primary: "Poppins", sans-serif;
$font-family--secondary: "Roboto", sans-serif;
$font-family--card-title: "Urbanist", sans-serif;