-
  var actionsList = [
    {
      icon: "action-icon.png",
      title: "Set up your wallet",
      desc: "Once you’ve set up your wallet of choice, connect it to OpenSea by clicking the wallet icon in the top right corner.",
    },
    {
      icon: "action-icon.png",
      title: "Add your NFTs",
      desc: "Once you’ve set up your wallet of choice, connect it to OpenSea by clicking the wallet icon in the top right corner.",
    },
    {
      icon: "action-icon.png",
      title: "List them for sale",
      desc: "Once you’ve set up your wallet of choice, connect it to OpenSea by clicking the wallet icon in the top right corner.",
    },
  ]