-
  var btnList = [
    {
      text: "Music",
    },
    {
      text: "Art",
    },
    {
      text: "Sports",
    },
    {
      text: "Virtual",
    },
    {
      text: "Videos",
    },
    {
      text: "More",
    },
  ]