-
  var auctionsCardsList = [
    {
      cardImage: "card-image-1.jpg",
      authorPhoto: "author1.jpg",
    },
    {
      cardImage: "card-image-2.jpg",
      authorPhoto: "author2.jpg",
    },
    {
      cardImage: "card-image-3.jpg",
      authorPhoto: "author3.jpg",
    },
  ]

  var hotCardsList = [
    {
      cardImage: "card-image-4.jpg",
      authorPhoto: "author4.jpg",
    },
    {
      cardImage: "card-image-5.jpg",
      authorPhoto: "author5.jpg",
    },
    {
      cardImage: "card-image-6.jpg",
      authorPhoto: "author6.jpg",
    },
    {
      cardImage: "card-image-7.jpg",
      authorPhoto: "author7.jpg",
    },
    {
      cardImage: "card-image-8.jpg",
      authorPhoto: "author8.jpg",
    },
    {
      cardImage: "card-image-9.jpg",
      authorPhoto: "author9.jpg",
    },
  ]

  var auctionCardsList = [
    {
      cardImage: "artist-image1.jpg",
      authorPhoto: "artist-avatar1.png",
      nickname: "CryptoPunks",
      counter: "818.7K"
    },
    {
      cardImage: "artist-image2.jpg",
      authorPhoto: "artist-avatar2.png",
      nickname: "Doodles",
      counter: "74.9K"
    },
    {
      cardImage: "artist-image3.jpg",
      authorPhoto: "artist-avatar3.png",
      nickname: "Bored Ape Yacht",
      counter: "378.7K"
    },
    {
      cardImage: "artist-image4.jpg",
      authorPhoto: "artist-avatar4.png",
      nickname: "Capsule House",
      counter: "19.3K"
    },
  ]