-
  var partnersList = [
    {
      name: "partner1.png",
    },
    {
      name: "partner2.png",
    },
    {
      name: "partner3.png",
    },
    {
      name: "partner4.png",
    },
    {
      name: "partner5.png",
    },
  ]