-
  var socialsList = [
    {
      href: "#",
      name: "facebook.png",
    },
    {
      href: "#",
      name: "twitter.png",
    },
    {
      href: "#",
      name: "instagram.png",
    },
  ]