section.comunity 
  .comunity__container.container 
    h2.comunity__title Create Your Own NFT!
    p.comunity__desctiption
      |We have a large scale group to support each other in this game, Join us to get the news as soon<br> as possible and follow our latest announcements!
    a.comunity__button.button-light.button Join Comunity Now